// ==========================================================================
// Grid Columns
// ==========================================================================

// Generates grid columns

.grid__col
  @include mq(medium)
    @include g-columns

// Column styles

[class^="grid__col--"]
  border-radius: $br--rounded
  padding: em(10px)
  display: flex
  justify-content: space-between
  @include mq(small)
    margin-top: em(12px)
    margin-bottom: em(12px)
    justify-content: center
    flex-direction: column;


  @include mq(medium)
    @include doubly(percentage($g-gutter-width / $context))
    float: left
    min-height: 1px
    padding-left: 10px
    padding-right: 10px
    &:last-of-type
      float: right


.grid__row
  @extend %clearfix
  margin-bottom: em(50px)
  @include mq(large)
    display: flex



// =============================================================================
// Grid Coloring
// =============================================================================


// Generate grid color display classes
@each $value, $color in $grid-colors
  .#{$value}.theme__colors
    background-color: $color