@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url(../bower_components/normalize-css/normalize.css);
/* line 7, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_helpers.sass */
.grid:after {
  content: "";
  display: table;
  clear: both; }

/* line 13, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_helpers.sass */
.centered, .grid {
  float: none;
  margin-left: auto;
  margin-right: auto; }

/* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_helpers.sass */
.srt {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 13, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/base/_base.sass */
* {
  box-sizing: border-box; }

/* line 16, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/base/_base.sass */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/base/_base.sass */
p {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 24, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/base/_base.sass */
.container {
  margin: 0;
  width: 80%;
  padding-top: 2.5em;
  margin: auto; }

/* line 10, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_images.sass */
.img, .img--logo, .img--frame, .img--avatar {
  max-width: 100%;
  margin: 0 auto;
  align-self: center; }
  /* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .img--logo {
    align-self: center; }
  /* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .img--frame {
    border: 12px solid white;
    outline: 1px solid #cdcdcd;
    padding: 0.3125em solid #797e83; }
  /* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .img--avatar {
    border-radius: 50%; }

/* line 6, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_typography.sass */
.container {
  color: #797e83;
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; }

/* line 12, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_typography.sass */
.link {
  color: #51ddfc;
  text-decoration: none;
  font-weight: 400;
  margin: auto; }

/* line 18, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_typography.sass */
.blockquote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  border-left: 9px solid #58e1c1;
  border-radius: 4px;
  font-size: 24px;
  padding-left: 2.0833333333em; }

/* line 26, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_typography.sass */
.headline--primary {
  color: #58e1c1; }

/* line 29, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_typography.sass */
.headline--secondary {
  font-size: 20px;
  margin-bottom: 1.25em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100; }

/* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_forms.sass */
.form {
  display: flex;
  flex-direction: column;
  width: 100%; }

/* line 17, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_forms.sass */
.form__input {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 5px solid #58e1c1;
  margin-bottom: 20px; }
  /* line 24, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_forms.sass */
  .form__input:focus {
    outline: none; }

/* line 27, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_forms.sass */
.form__label--hidden {
  display: none; }

/* line 1, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_buttons.sass */
.btn, .btn--default, .btn--success, .btn--error, .btn--warning, .btn--info {
  width: 100%;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 0.625em;
  margin: 0.625em 0; }
  /* line 9, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_buttons.sass */
  .btn[type="submit"], [type="submit"].btn--default, [type="submit"].btn--success, [type="submit"].btn--error, [type="submit"].btn--warning, [type="submit"].btn--info {
    width: 100%; }
  /* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_buttons.sass */
  .btn:focus, .btn--default:focus, .btn--success:focus, .btn--error:focus, .btn--warning:focus, .btn--info:focus {
    outline: none; }
  /* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .btn--default {
    background-color: #51ddfc; }
    /* line 17, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_buttons.sass */
    .btn--default:active {
      -moz-box-shadow: inset 0 0 10px #04bbe3;
      -webkit-box-shadow: inset 0 0 10px #04bbe3;
      box-shadow: inset 0 0 10px #04bbe3; }
  /* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .btn--success {
    background-color: #62cc82; }
    /* line 17, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_buttons.sass */
    .btn--success:active {
      -moz-box-shadow: inset 0 0 10px #319750;
      -webkit-box-shadow: inset 0 0 10px #319750;
      box-shadow: inset 0 0 10px #319750; }
  /* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .btn--error {
    background-color: #e4757b; }
    /* line 17, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_buttons.sass */
    .btn--error:active {
      -moz-box-shadow: inset 0 0 10px #cb2831;
      -webkit-box-shadow: inset 0 0 10px #cb2831;
      box-shadow: inset 0 0 10px #cb2831; }
  /* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .btn--warning {
    background-color: #ff774e; }
    /* line 17, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_buttons.sass */
    .btn--warning:active {
      -moz-box-shadow: inset 0 0 10px #e73600;
      -webkit-box-shadow: inset 0 0 10px #e73600;
      box-shadow: inset 0 0 10px #e73600; }
  /* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .btn--info {
    background-color: #9278c3; }
    /* line 17, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_buttons.sass */
    .btn--info:active {
      -moz-box-shadow: inset 0 0 10px #5e4293;
      -webkit-box-shadow: inset 0 0 10px #5e4293;
      box-shadow: inset 0 0 10px #5e4293; }
  @media (min-width: 1100px) {
    /* line 1, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_buttons.sass */
    .btn, .btn--default, .btn--success, .btn--error, .btn--warning, .btn--info {
      width: 9.375em; } }

/* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
.nav {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em; }

/* line 15, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
.nav li {
  padding: 0.75em; }

/* line 18, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
.nav a {
  display: block;
  border-radius: 4px;
  color: #797e83;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  text-decoration: none; }
  /* line 27, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
  .nav a:hover {
    color: #fff;
    background-color: #58e1c1; }
  /* line 30, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
  .nav a:focus {
    outline-color: transparent; }

@media (min-width: 769px) {
  /* line 39, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
  .img--logo {
    width: 140px; }
  /* line 42, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
  .nav {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em; } }

@media (min-width: 1100px) {
  /* line 49, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
  .img--logo {
    margin-right: auto; }
  /* line 52, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
  .nav {
    margin-top: 0;
    align-self: center; }
  /* line 56, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
  .nav li {
    margin-left: .65em;
    margin-right: .65em; } }

/* line 20, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
.grid {
  width: 90%; }
  /* line 26, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
  [class*="grid__col--"] > .grid {
    width: 100%; }
  @media (min-width: 1100px) {
    /* line 20, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
    .grid {
      max-width: 1050px; } }

@media (min-width: 769px) {
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--1 {
    width: 6.5%; }
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--2 {
    width: 15%; }
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--3 {
    width: 23.5%; }
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--4 {
    width: 32%; }
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--5 {
    width: 40.5%; }
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--6 {
    width: 49%; }
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--7 {
    width: 57.5%; }
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--8 {
    width: 66%; }
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--9 {
    width: 74.5%; }
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--10 {
    width: 83%; }
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--11 {
    width: 91.5%; }
  /* line 19, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--12 {
    width: 100%; } }

/* line 44, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
[class^="grid__col--"] {
  border-radius: 4px;
  padding: 0.625em;
  display: flex;
  justify-content: space-around; }
  @media (min-width: 1px) and (max-width: 768px) {
    /* line 44, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
    [class^="grid__col--"] {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
      flex-direction: column;
      justify-content: center; } }

/* line 64, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
.grid__row {
  margin-bottom: 3.125em; }
  @media (min-width: 1100px) {
    /* line 64, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
    .grid__row {
      display: flex;
      justify-content: space-between; } }

/* line 76, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
.grid__col--3.theme__colors {
  background-color: #dfb2ee; }

/* line 76, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
.grid__col--4.theme__colors {
  background-color: #7ee6fd; }

/* line 76, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
.grid__col--5.theme__colors {
  background-color: #88d9a0; }

/* line 76, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
.grid__col--6.theme__colors {
  background-color: #3fabca; }

/* line 76, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
.grid__col--7.theme__colors {
  background-color: #ec9fa3; }

/* line 76, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
.grid__col--8.theme__colors {
  background-color: #fd9e84; }

/* line 76, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_grid.sass */
.grid__col--12.theme__colors {
  background-color: #7fe8d2; }

/*# sourceMappingURL=styles.css.map */