@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url(../node_modules/normalize.css/normalize.css);
.grid:after {
  content: "";
  display: table;
  clear: both; }

.centered, .grid {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.srt {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

* {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.container {
  margin: 0;
  width: 80%;
  padding-top: 2.5em;
  margin: auto; }

.img, .img--avatar, .img--frame, .img--logo {
  max-width: 100%;
  margin: 0 auto;
  align-self: center; }
  .img--logo {
    align-self: center; }
  .img--frame {
    border: 12px solid white;
    outline: 1px solid #cdcdcd;
    padding: 0.3125em solid #797e83; }
  .img--avatar {
    border-radius: 50%; }

.container {
  color: #797e83;
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; }

.link {
  color: #51ddfc;
  text-decoration: none;
  font-weight: 400;
  margin: auto; }

.blockquote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  border-left: 9px solid #58e1c1;
  border-radius: 4px;
  font-size: 24px;
  padding-left: 2.0833333333em; }

.headline--primary {
  color: #58e1c1; }

.headline--secondary {
  font-size: 20px;
  margin-bottom: 1.25em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%; }

.form__input {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 5px solid #58e1c1;
  margin-bottom: 20px; }
  .form__input:focus {
    outline: none; }

.form__label--hidden {
  display: none; }

.btn, .btn--info, .btn--warning, .btn--error, .btn--success, .btn--default {
  width: 100%;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 0.625em;
  margin: 0.625em 0; }
  .btn[type="submit"], .btn--info[type="submit"], .btn--warning[type="submit"], .btn--error[type="submit"], .btn--success[type="submit"], .btn--default[type="submit"] {
    width: 100%; }
  .btn:focus, .btn--info:focus, .btn--warning:focus, .btn--error:focus, .btn--success:focus, .btn--default:focus {
    outline: none; }
  .btn--default {
    background-color: #51ddfc; }
    .btn--default:active {
      -moz-box-shadow: inset 0 0 10px #04bbe3;
      -webkit-box-shadow: inset 0 0 10px #04bbe3;
      box-shadow: inset 0 0 10px #04bbe3; }
  .btn--success {
    background-color: #62cc82; }
    .btn--success:active {
      -moz-box-shadow: inset 0 0 10px #319750;
      -webkit-box-shadow: inset 0 0 10px #319750;
      box-shadow: inset 0 0 10px #319750; }
  .btn--error {
    background-color: #e4757b; }
    .btn--error:active {
      -moz-box-shadow: inset 0 0 10px #cb2831;
      -webkit-box-shadow: inset 0 0 10px #cb2831;
      box-shadow: inset 0 0 10px #cb2831; }
  .btn--warning {
    background-color: #ff774e; }
    .btn--warning:active {
      -moz-box-shadow: inset 0 0 10px #e73600;
      -webkit-box-shadow: inset 0 0 10px #e73600;
      box-shadow: inset 0 0 10px #e73600; }
  .btn--info {
    background-color: #9278c3; }
    .btn--info:active {
      -moz-box-shadow: inset 0 0 10px #5e4293;
      -webkit-box-shadow: inset 0 0 10px #5e4293;
      box-shadow: inset 0 0 10px #5e4293; }
  @media (min-width: 1100px) {
    .btn, .btn--info, .btn--warning, .btn--error, .btn--success, .btn--default {
      width: 9.375em; } }
.nav {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em; }

.nav li {
  padding: 0.75em; }

.nav a {
  display: block;
  border-radius: 4px;
  color: #797e83;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  text-decoration: none; }
  .nav a:hover {
    color: #fff;
    background-color: #58e1c1; }
  .nav a:focus {
    outline-color: transparent; }

@media (min-width: 769px) {
  .img--logo {
    width: 140px; }
  .nav {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em; } }

@media (min-width: 1100px) {
  .img--logo {
    margin-right: auto; }
  .nav {
    margin-top: 0;
    align-self: center; }
  .nav li {
    margin-left: .65em;
    margin-right: .65em; } }

.grid {
  width: 90%; }
  [class*="grid__col--"] > .grid {
    width: 100%; }
  @media (min-width: 1100px) {
    .grid {
      max-width: 1050px; } }
@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

[class^="grid__col--"] {
  border-radius: 4px;
  padding: 0.625em;
  display: flex;
  justify-content: space-around; }
  @media (min-width: 1px) and (max-width: 768px) {
    [class^="grid__col--"] {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
      flex-direction: column;
      justify-content: center; } }
.grid__row {
  margin-bottom: 3.125em; }
  @media (min-width: 1100px) {
    .grid__row {
      display: flex;
      justify-content: space-between; } }
.grid__col--3.theme__colors {
  background-color: #dfb2ee; }

.grid__col--4.theme__colors {
  background-color: #7ee6fd; }

.grid__col--5.theme__colors {
  background-color: #88d9a0; }

.grid__col--6.theme__colors {
  background-color: #3fabca; }

.grid__col--7.theme__colors {
  background-color: #ec9fa3; }

.grid__col--8.theme__colors {
  background-color: #fd9e84; }

.grid__col--12.theme__colors {
  background-color: #7fe8d2; }

/*# sourceMappingURL=styles.css.map */