@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url(../bower_components/normalize-css/normalize.css);
/* line 7, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_helpers.sass */
.grid:after {
  content: "";
  display: table;
  clear: both; }

/* line 13, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_helpers.sass */
.centered, .grid {
  float: none;
  margin-left: auto;
  margin-right: auto; }

/* line 5, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/layout/_grid-container.sass */
.grid {
  width: 90%; }
  /* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/layout/_grid-container.sass */
  [class*="grid__col--"] > .grid {
    width: 100%; }
  @media (min-width: 1100px) {
    /* line 5, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/layout/_grid-container.sass */
    .grid {
      max-width: 1050px; } }

@media (min-width: 769px) {
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--1 {
    width: 100%; }
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--2 {
    width: 100%; }
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--3 {
    width: 100%; }
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--4 {
    width: 100%; }
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--5 {
    width: 100%; }
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--6 {
    width: 100%; }
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--7 {
    width: 100%; }
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--8 {
    width: 100%; }
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--9 {
    width: 100%; }
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--10 {
    width: 100%; }
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--11 {
    width: 100%; }
  /* line 21, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
  .grid__col--12 {
    width: 100%; } }

@media (min-width: 1px) and (max-width: 768px) {
  /* line 13, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/layout/_grid-columns.sass */
  [class^="grid__col--"] {
    margin-top: 0.75em;
    margin-bottom: 0.75em; } }

@media (min-width: 769px) {
  /* line 13, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/layout/_grid-columns.sass */
  [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
    /* line 45, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
    [class^="grid__col--"] + [class^="grid__col--"] {
      margin-left: 2%; }
    /* line 24, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/layout/_grid-columns.sass */
    [class^="grid__col--"]:last-of-type {
      float: right; } }

/* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
.btn--default {
  background-color: #52bab3; }

/* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
.btn--success {
  background-color: #5ece7f; }

/* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
.btn--error {
  background-color: #e67478; }

/* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
.btn--warning {
  background-color: #ff784f; }

/* line 11, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/utilities/_mixins.sass */
.btn--info {
  background-color: #9279c3; }

/* line 5, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
.img--logo {
  width: 110px; }

/* line 8, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
.nav {
  margin-top: 1.5em; }
  /* line 10, Users/anthonyveaudry/Sites/techdegree-project-5/source/scss/components/_navigation.sass */
  .nav a {
    display: block; }
