// ==========================================================================
// Base
// ==========================================================================



// In your base folder, include a normalize.css file and create a base.scss file. In the base.scss file, you can only apply styles to three different elements directly:
// the universal selector (*)
// ul elements
// p elements


*
  box-sizing: border-box

ul
  margin: 0
  padding: 0
  list-style-type: none

p
  font-family: $font-family--primary

.container
  margin: 0
  width: 80%
  padding-top: em(40px)
  margin: auto