.btn
  width: 100%
  text-transform: uppercase
  border: none
  border-radius: $br--rounded
  color: $white
  padding: em(10px)
  margin: em(10px) 0
  &:focus
    outline: none
  @each $theam, $color in $ui-colors
    @include m($theam)
      @extend .btn
      background-color: $color
  @include mq(large)
    width: em(150px)

form
  button[type="submit"]
    width: 100%