// ? ==========================================================================
// ? Navigation
// ? ==========================================================================


// ? --------------------------
// ?  Main Styles
// ? ---------------------------


.nav {
  @include flex(flex,column);
  margin-top: 1.5em;
}

.nav li {
  padding: em(12px);
}

.nav a {
  display: block;
  border-radius: $br--rounded;
  color: $grey;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: 0.4em;
  text-decoration: none;
  &:hover {
    color: $white;
    background-color: $color-accent;
  }
  &:focus {
    outline-color: transparent;
  }
}

// ? --------------------------
// ? Media Queries
// ? ---------------------------

@include mq(medium) {
  .img--logo {
    width: 140px;
  }
  .nav {
    @include flex($direction:row, $just:space-between);
    margin-top: 3em;
  }
}

@include mq(large) {
  .img--logo {
    margin-right: auto;
  }
  .nav {
    margin-top: 0;
    align-self: center;
  }
  .nav li {
    margin-left: 0.65em;
    margin-right: 0.65em;
  }
}
