// ==========================================================================
// Navigation
// ==========================================================================

.img--logo
  width: 110px

.nav
  margin-top: 1.5em
  & a
    display: block