// ? ==========================================================================
// ? Typography
// ? ==========================================================================


.container {
  color: #797e83;
  font-size: $base__font-size;
  font-family: $font-family--primary;
  line-height: 1.5;
}

.link {
  color: $color-primary;
  text-decoration: none;
  font-weight: $font-weight--medium;
  margin: auto;
}

.blockquote {
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  border-left: 9px solid $color-accent;
  border-radius: 4px;
  font-size: 24px;
  padding-left: em(50px,24px);
}

.headline--primary {
  color: $color-accent;
}

.headline--secondary {
  font-size: 20px;
  margin-bottom: em(20px);
  font-family: $font-family--secondary;
  font-weight: $font-weight--thin;
}
